<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title th:text="#{lang.title}"></title>
</head>
<body class="w3-light-grey">
<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
    <span class="w3-bar-item w3-right"></span>
</div>
<div class="w3-main">
    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> Dashboard</b></h5>
    </header>
    <div class="w3-container">
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-quarter">
                <div class="w3-container w3-red w3-padding-16">
                    <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3 th:text="'Indoor '+${dht22Result.humidityRelative} + '%'"></h3>
                        <h3 th:text="'Outdoor '+${outdoorResults.humidityRelative} + '%'"></h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Humidity relative</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-deep-orange w3-padding-16">
                    <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3 th:text="'Indoor '+${dht22Result.humidityAbsolute} + 'mg/m3'"></h3>
                        <h3 th:text="'Outdoor '+${outdoorResults.humidityAbsolute} + 'mg/m3'"></h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Humidity absolute</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-blue w3-padding-16">
                    <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3 th:text="'Indoor '+${dht22Result.temperature} + '°C'"></h3>
                        <h3 th:text="'Outdoor '+${outdoorResults.temperature} + '°C'"></h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Temperature</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-teal w3-padding-16">
                    <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3 th:text="${gateStatus}"></h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Gate status</h4>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="w3-container">
        <form action="#" th:action="@{/check/ventilation}" method="get">
            <button class="w3-button w3-dark-grey" type="submit">Trigger ventilation check<i class="fa fa-arrow-right"></i></button>
        </form>
        <form action="#" th:action="@{/gate/close}" method="get">
            <button class="w3-button w3-dark-grey" type="submit" name="action" value="close">Close Gate</button>
        </form>
        <form action="#" th:action="@{/gate/ventilation}" method="get">
            <button class="w3-button w3-dark-grey" type="submit" name="action" value="ventilation">Change Gate to
                Ventilation
            </button>
        </form>
        <form action="#" th:action="@{/gate/open}" method="get">
            <button class="w3-button w3-dark-grey" type="submit" name="action" value="open">Open Gate
            </button>
        </form>
        </form>

    </div>
</div>
</body>
</html>